crosscheck-characteriser/src/main/script/crosscheck.xsd

<!--A perhaps outofdate crosscheck schema. This is just to catch schema validity errors early in the workflow-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tsa-report" type="tsa-reportType">
        <xs:annotation>
            <xs:documentation>Created by Manzanita CrossCheck</xs:documentation>
        </xs:annotation>
    </xs:element>

<!--The attribute based elements-->
    <xs:complexType name="valueType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="value" use="optional"/>
                <xs:attribute type="xs:string" name="time" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="descriptorType">
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="tag" use="optional"/>
          <xs:attribute type="xs:string" name="name" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="pid-infoType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="pid" use="optional"/>
                <xs:attribute type="xs:string" name="content" use="optional"/>
                <xs:attribute type="xs:string" name="npkt" use="optional"/>
                <xs:attribute type="xs:string" name="pkt-rate" use="optional"/>
                <xs:attribute type="xs:string" name="payld-rate" use="optional"/>
                <xs:attribute type="xs:string" name="programs" use="optional"/>
                <xs:attribute type="xs:string" name="errors" use="optional"/>
                <xs:attribute type="xs:string" name="warnings" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="errorType" >
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="pid" use="optional"/>
                <xs:attribute type="xs:string" name="packet" use="optional"/>
                <xs:attribute type="xs:string" name="time" use="optional"/>
                <xs:attribute type="xs:string" name="code" use="optional"/>
                <xs:attribute type="xs:string" name="msg" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>



    <!--The sequence based elements-->
    <xs:complexType name="errorsType">
        <xs:sequence>
            <xs:element type="errorType" name="error" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="video_stream_descriptorType">
        <xs:sequence>
            <xs:element type="valueType" name="tag" minOccurs="0"/>
            <xs:element type="valueType" name="length" minOccurs="0"/>
            <xs:element type="valueType" name="multiple_frame_rate_flag" minOccurs="0"/>
            <xs:element type="valueType" name="frame_rate_code" minOccurs="0"/>
            <xs:element type="valueType" name="mpeg_1_only_flag" minOccurs="0"/>
            <xs:element type="valueType" name="constrained_parameter_flag" minOccurs="0"/>
            <xs:element type="valueType" name="still_picture_flag" minOccurs="0"/>
            <xs:element type="valueType" name="profile_and_level_indication" minOccurs="0"/>
            <xs:element type="valueType" name="chroma_format" minOccurs="0"/>
            <xs:element type="valueType" name="frame_rate_extension_flag" minOccurs="0"/>
            <xs:element type="valueType" name="reserved" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="configurationType" mixed="true">
        <xs:sequence>
            <xs:element type="valueType" name="analysis-mode" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="adaptation-field-informationType">
        <xs:sequence>
            <xs:element type="valueType" name="number-of-packets-discontinuity_indicator-is-1" minOccurs="0"/>
            <xs:element type="valueType" name="number-of-packets-random_access_indicator-is-1" minOccurs="0"/>
            <xs:element type="valueType" name="splice_countdown-fields-seen" minOccurs="0"/>
            <xs:element type="valueType" name="noemptyaf" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="patType">
        <xs:sequence>
            <xs:element type="programType" name="program"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="version"/>
        <xs:attribute type="xs:string" name="pid"/>
    </xs:complexType>
    <xs:complexType name="program-association-table-informationType">
        <xs:sequence>
            <xs:element type="valueType" name="table_id" minOccurs="0"/>
            <xs:element type="valueType" name="version_number" minOccurs="0"/>
            <xs:element type="valueType" name="transport_stream_id" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="pmtType">
        <xs:sequence>
            <xs:element type="streamType" name="stream" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="version"/>
        <xs:attribute type="xs:string" name="pcr-pid"/>
    </xs:complexType>
    <xs:complexType name="multiplex-summaryType">
        <xs:sequence>
            <xs:element type="patType" name="pat"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="video-elementary-stream-informationType">
        <xs:sequence>
            <xs:element type="valueType" name="avc-video-profile" minOccurs="0"/>
            <xs:element type="valueType" name="avc-video-level" minOccurs="0"/>
            <xs:element type="valueType" name="mpeg-video-format" minOccurs="0"/>
            <xs:element type="valueType" name="mpeg-2-video-profile" minOccurs="0"/>
            <xs:element type="valueType" name="mpeg-2-video-level" minOccurs="0"/>
            <xs:element type="valueType" name="mpeg-chroma-format" minOccurs="0"/>
            <xs:element type="valueType" name="closed-caption-types-detected" minOccurs="0"/>
            <xs:element type="valueType" name="number-of-video-access-units-seen" minOccurs="0"/>
            <xs:element type="valueType" name="percent-of-all-pictures-that-are-p-slice-pictures" minOccurs="0"/>
            <xs:element type="valueType" name="percent-of-all-pictures-that-are-b-slice-pictures" minOccurs="0"/>
            <xs:element type="valueType" name="maximum-number-of-b-slice-pictures-between-i-or-p-slice-pictures" minOccurs="0"/>
            <xs:element type="valueType" name="maximum-video-bit-rate-allowed-by-profile-and-level" minOccurs="0"/>
            <xs:element type="valueType" name="minimum-number-of-non-i-pictures-between-two-i-pictures" minOccurs="0"/>
            <xs:element type="valueType" name="maximum-number-of-non-i-pictures-between-two-i-pictures" minOccurs="0"/>
            <xs:element type="valueType" name="average-number-of-non-i-pictures-between-two-i-pictures" minOccurs="0"/>
            <xs:element type="valueType" name="percent-of-all-pictures-that-are-p-pictures" minOccurs="0"/>
            <xs:element type="valueType" name="percent-of-all-pictures-that-are-b-pictures" minOccurs="0"/>
            <xs:element type="valueType" name="maximum-number-of-b-frames-between-i-or-p-frames" minOccurs="0"/>
            <xs:element type="valueType" name="video-bit-rate" minOccurs="0"/>
            <xs:element type="valueType" name="vbv-method" minOccurs="0"/>
            <xs:element type="valueType" name="vbv-size" minOccurs="0"/>
            <xs:element type="valueType" name="video-multiplexing-buffer-size" minOccurs="0"/>
            <xs:element type="valueType" name="maximum-video-es-buffer-size-allowed-by-profile-and-level" minOccurs="0"/>
            <xs:element type="valueType" name="video-es-buffer-size" minOccurs="0"/>
            <xs:element type="valueType" name="minimum-decode-delay" minOccurs="0"/>
            <xs:element type="valueType" name="maximum-decode-delay" minOccurs="0"/>
            <xs:element type="valueType" name="mb-to-eb-transfer-method" minOccurs="0"/>
            <xs:element type="valueType" name="video-frame-rate" minOccurs="0"/>
            <xs:element type="valueType" name="avc-num_units_in_tick" minOccurs="0"/>
            <xs:element type="valueType" name="avc-time_scale" minOccurs="0"/>
            <xs:element type="valueType" name="video-in-film-mode" minOccurs="0"/>
            <xs:element type="valueType" name="progressive-sequence" minOccurs="0"/>
            <xs:element type="valueType" name="horizontal-size" minOccurs="0"/>
            <xs:element type="valueType" name="vertical-size" minOccurs="0"/>
            <xs:element type="valueType" name="sample-aspect-ratio-width" minOccurs="0"/>
            <xs:element type="valueType" name="sample-aspect-ratio-height" minOccurs="0"/>
            <xs:element type="valueType" name="aspect-ratio" minOccurs="0"/>
            <xs:element type="valueType" name="sample-aspect-ratio" minOccurs="0"/>
            <xs:element type="valueType" name="quadbyte" minOccurs="0"/>
            <xs:element type="valueType" name="initial-timecode" minOccurs="0"/>
            <xs:element type="valueType" name="timecode-discontinuity" minOccurs="0"/>
            <xs:element type="valueType" name="final-timecode" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="private-descriptorType">
        <xs:sequence>
            <xs:element type="valueType" name="tag" minOccurs="0"/>
            <xs:element type="valueType" name="length" minOccurs="0"/>
            <xs:element type="valueType" name="data" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="pes-informationType">
        <xs:sequence>
            <xs:element type="valueType" name="number-of-pes-headers-seen" minOccurs="0"/>
            <xs:element type="valueType" name="pes-stream_id" minOccurs="0"/>
            <xs:element type="valueType" name="number-of-packets-pes_scrambling_control-is-00" minOccurs="0"/>
            <xs:element type="valueType" name="pes-copyright-set" minOccurs="0"/>
            <xs:element type="valueType" name="number-of-packets-pes_priority-is-1" minOccurs="0"/>
            <xs:element type="valueType" name="number-of-ptss-seen" minOccurs="0"/>
            <xs:element type="valueType" name="average-pts-interval" minOccurs="0"/>
            <xs:element type="valueType" name="average-es-buffer-level" minOccurs="0"/>
            <xs:element type="valueType" name="minimum-es-buffer-level" minOccurs="0"/>
            <xs:element type="valueType" name="packet-number-at-minimum-es-buffer-level" minOccurs="0"/>
            <xs:element type="valueType" name="maximum-es-buffer-level" minOccurs="0"/>
            <xs:element type="valueType" name="packet-number-at-maximum-es-buffer-level" minOccurs="0"/>
            <xs:element type="valueType" name="pesalign" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="program-informationType">
        <xs:sequence>
            <xs:element type="valueType" name="pmt-pid-for-program_number" minOccurs="0"/>
            <xs:element type="valueType" name="listed-in-pat-version_number" minOccurs="0"/>
            <xs:element type="valueType" name="member-of-program_number" minOccurs="0"/>
            <xs:element type="valueType" name="listed-in-pmt-version_number" minOccurs="0"/>
            <xs:element type="valueType" name="stream_type" minOccurs="0"/>
            <xs:element type="valueType" name="listed-as-pcr-pid" minOccurs="0"/>
            <xs:element type="video_stream_descriptorType" name="video_stream_descriptor" minOccurs="0"/>
            <xs:element type="valueType" name="associated-pcr-pid" minOccurs="0"/>
            <xs:element type="iso_639_language_descriptorType" name="iso_639_language_descriptor" minOccurs="0"/>
            <xs:element type="private-descriptorType" name="private-descriptor" minOccurs="0"/>
            <xs:element type="registration_descriptorType" name="registration_descriptor" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="transport-header-informationType">
        <xs:sequence>
            <xs:element type="valueType" name="number-of-packets-transport_error_indicator-is-1" minOccurs="0"/>
            <xs:element type="valueType" name="number-of-packets-transport_priority-is-1" minOccurs="0"/>
            <xs:element type="valueType" name="number-of-packets-transport_scrambling_control-is-00" minOccurs="0"/>
            <xs:element type="valueType" name="number-of-duplicate-packets-seen" minOccurs="0"/>
            <xs:element type="valueType" name="number-of-continuity-counter-errors-seen" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="program-map-table-informationType">
        <xs:sequence>
            <xs:element type="valueType" name="table_id" minOccurs="0"/>
            <xs:element type="valueType" name="program_number" minOccurs="0"/>
            <xs:element type="valueType" name="version_number" minOccurs="0"/>
            <xs:element type="valueType" name="pcr-pid" minOccurs="0"/>
            <xs:element type="valueType" name="section_length" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="iso_639_language_descriptorType">
        <xs:sequence>
            <xs:element type="valueType" name="tag" minOccurs="0"/>
            <xs:element type="valueType" name="length" minOccurs="0"/>
            <xs:element type="valueType" name="iso_639_language_code" minOccurs="0"/>
            <xs:element type="valueType" name="audio_type" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="streamType">
        <xs:sequence>
            <xs:element type="descriptorType" name="descriptor" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="pid" use="optional"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
    <xs:complexType name="pid-propertiesType">
        <xs:sequence>
            <xs:element type="valueType" name="pid" minOccurs="0"/>
            <xs:element type="valueType" name="content" minOccurs="0"/>
            <xs:element type="valueType" name="total-errors" minOccurs="0"/>
            <xs:element type="valueType" name="total-warnings" minOccurs="0"/>
            <xs:element type="program-association-table-informationType" name="program-association-table-information" minOccurs="0"/>
            <xs:element type="program-informationType" name="program-information" minOccurs="0"/>
            <xs:element type="program-map-table-informationType" name="program-map-table-information" minOccurs="0"/>
            <xs:element type="program-map-informationType" name="program-map-information" minOccurs="0"/>

            <xs:element type="pcr-statisticsType" name="pcr-statistics" minOccurs="0"/>
            <xs:element type="packet-statisticsType" name="packet-statistics" minOccurs="0"/>
            <xs:element type="transport-header-informationType" name="transport-header-information" minOccurs="0"/>
            <xs:element type="adaptation-field-informationType" name="adaptation-field-information" minOccurs="0"/>
            <xs:element type="pes-informationType" name="pes-information" minOccurs="0"/>
            <xs:element type="video-elementary-stream-informationType" name="video-elementary-stream-information" minOccurs="0"/>
            <xs:element type="audio-elementary-stream-informationType" name="audio-elementary-stream-information" minOccurs="0"/>
            <xs:element type="errorsType" name="errors" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tsa-reportType">
        <xs:sequence>
            <xs:element type="configurationType" name="configuration" minOccurs="0"/>
            <xs:element type="stream-informationType" name="stream-information" minOccurs="0"/>
            <xs:element type="multiplex-summaryType" name="multiplex-summary" minOccurs="0"/>
            <xs:element type="pid-summaryType" name="pid-summary" minOccurs="0"/>
            <xs:element type="pid-propertiesType" name="pid-properties" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="errorsType" name="errors" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="version"/>
        <xs:attribute type="xs:string" name="license-serno"/>
        <xs:attribute type="xs:string" name="license-username"/>
        <xs:attribute type="xs:string" name="date"/>
        <xs:attribute type="xs:string" name="file"/>
    </xs:complexType>
    <xs:complexType name="pid-summaryType">
        <xs:sequence>
            <xs:element type="pid-infoType" name="pid-info" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="stream-informationType">
        <xs:sequence>
            <xs:element type="valueType" name="average-transport-rate" minOccurs="0"/>
            <xs:element type="valueType" name="minimum-transport-rate" minOccurs="0"/>
            <xs:element type="valueType" name="maximum-transport-rate" minOccurs="0"/>
            <xs:element type="valueType" name="duration" minOccurs="0"/>
            <xs:element type="valueType" name="file-size" minOccurs="0"/>
            <xs:element type="valueType" name="transport-packet-interval" minOccurs="0"/>
            <xs:element type="valueType" name="packets-analyzed" minOccurs="0"/>
            <xs:element type="valueType" name="total-errors" minOccurs="0"/>
            <xs:element type="valueType" name="total-warnings" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="programType">
        <xs:sequence>
            <xs:element type="pmtType" name="pmt" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="program_number" />
        <xs:attribute type="xs:string" name="pid"/>
    </xs:complexType>
    <xs:complexType name="packet-statisticsType">
        <xs:sequence>
            <xs:element type="valueType" name="number-of-packets" minOccurs="0"/>
            <xs:element type="valueType" name="first-seen-in-packet-number" minOccurs="0"/>
            <xs:element type="valueType" name="last-seen-in-packet-number" minOccurs="0"/>
            <xs:element type="valueType" name="average-transport-packet-rate" minOccurs="0"/>
            <xs:element type="valueType" name="average-payload-rate" minOccurs="0"/>
            <xs:element type="valueType" name="average-packet-spacing" minOccurs="0"/>
            <xs:element type="valueType" name="minimum-packet-spacing" minOccurs="0"/>
            <xs:element type="valueType" name="packet-number-at-minimum-spacing" minOccurs="0"/>
            <xs:element type="valueType" name="maximum-packet-spacing" minOccurs="0"/>
            <xs:element type="valueType" name="packet-number-at-maximum-spacing" minOccurs="0"/>
            <xs:element type="valueType" name="minimum-packet-spacing-ends-inclusive" minOccurs="0"/>
            <xs:element type="valueType" name="maximum-packet-spacing-ends-inclusive" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="audio-elementary-stream-informationType">
        <xs:sequence>
            <xs:element type="valueType" name="audio-type" minOccurs="0"/>
            <xs:element type="valueType" name="number-of-audio-access-units-seen" minOccurs="0"/>
            <xs:element type="valueType" name="average-number-of-audio-frames-per-pes-packet" minOccurs="0"/>
            <xs:element type="valueType" name="layer" minOccurs="0"/>
            <xs:element type="valueType" name="sample-rate" minOccurs="0"/>
            <xs:element type="valueType" name="bit-rate" minOccurs="0"/>
            <xs:element type="valueType" name="number-and-location-of-channels" minOccurs="0"/>
            <xs:element type="valueType" name="ac3-audio-service-type" minOccurs="0" />
            <xs:element type="valueType" name="low-frequency-effects-flag" minOccurs="0"/>
            <xs:element type="valueType" name="nominal-frame-size" minOccurs="0"/>
            <xs:element type="valueType" name="dialogue-normalization" minOccurs="0" />
            <xs:element type="valueType" name="main-audio-buffer-size" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="pcr-statisticsType">
        <xs:sequence>
            <xs:element type="valueType" name="number-of-pcrs-seen" minOccurs="0"/>
            <xs:element type="valueType" name="average-pcr-interval" minOccurs="0"/>
            <xs:element type="valueType" name="minimum-pcr-interval" minOccurs="0"/>
            <xs:element type="valueType" name="packet-number-at-minimum-pcr-interval" minOccurs="0"/>
            <xs:element type="valueType" name="maximum-pcr-interval" minOccurs="0"/>
            <xs:element type="valueType" name="packet-number-at-maximum-pcr-interval" minOccurs="0"/>
            <xs:element type="valueType" name="pcr-jitter-magnitude" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="program-map-informationType">
        <xs:sequence>
            <xs:element type="valueType" name="pmt-pid" minOccurs="0"/>
            <xs:element type="valueType" name="program_number" minOccurs="0"/>
            <xs:element type="valueType" name="version_number" minOccurs="0"/>
            <xs:element type="valueType" name="pcr_pid" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="registration_descriptorType">
      <xs:sequence>
        <xs:element type="valueType" name="tag"  minOccurs="0"/>
        <xs:element type="valueType" name="length"  minOccurs="0"/>
        <xs:element type="valueType" name="format_identifier"  minOccurs="0"/>
        <xs:element type="valueType" name="additional_identification_info" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>


</xs:schema>